<header class="site-header">

  <div class="wrapper">

    {% for menu in site.data.i18n[page.lang].header %}
      {% if page.url == menu[1].url %}
          <a class="site-title active" href="{{menu[1].url}}">{{menu[1].name}}</a>
      {% else %}
          <a class="site-title" href="{{menu[1].url}}">{{menu[1].name}}</a>
      {% endif %}    
    {% endfor %}

    <nav class="site-nav">
      <div class="trigger">
        {% if page.lang == "zh" %}
          {% if page.title %}
          <a href="{{ page.url | replace:'zh/','en/' }}" class="lang">EN</a>
          {% else %}
          <a href="/en/index/" class="lang">EN</a>
          {% endif %}
        {% else %}
        <a href="{{ page.url | replace:'en/','zh/' }}" class="lang">中文</a>
        {% endif %}
      </div>
    </nav>
  </div>

</header>
