---
layout: default
---
<div class="post">
<h1>{{site.data.i18n[page.lang].app}}</h1>

{% for project in page.projects.app %}
<div class="item">
  <img src="{{project.img}}" class="thumbnail">
  <div class="des">
    <h4>{{project.name}}</h4>
    <p>{{project.des}}</p>
    <p>{{project.based}} / {{project.date}}</p>
    {% if project.link %}
      <a href="{{project.link}}"><span class="iconfont"></span> Project Page</a>
    {% endif %}
    {% if project.github %}
      <a href="{{project.github}}"><span class="iconfont">&#xe925;</span> View on Github</a>
    {% endif %}
    {% if project.chrome %}
      <a href="{{project.chrome}}"><span class="iconfont">&#xe92a;</span> View on Chrome Store</a>
    {% endif %}
    {% if project.ios %}
      <a href="{{project.ios}}"><span class="iconfont"></span> View on App Store</a>
    {% endif %}
    {% if project.android %}
      <a href="{{project.android}}"><span class="iconfont">&#xe927;</span> View on Google Play</a>
    {% endif %}
    {% if project.steam %}
      <a href="{{project.steam}}"><span class="iconfont">&#xe924;</span> View on Steam</a>
    {% endif %}
  </div>
  <!-- add a link filling the container-->
    {% if project.link %}
      <a href="{{project.link}}" class="item-link"></a>
    {% endif %}
    {% if project.github %}
      <a href="{{project.github}}" class="item-link"></a>
    {% endif %}
    {% if project.chrome %}
      <a href="{{project.chrome}}" class="item-link"></a>
    {% endif %}
    {% if project.ios %}
      <a href="{{project.ios}}" class="item-link"></a>
    {% endif %}
    {% if project.android %}
      <a href="{{project.android}}" class="item-link"></a>
    {% endif %}
    {% if project.steam %}
      <a href="{{project.steam}}" class="item-link"></a>
    {% endif %}
</div>
{% endfor %}

<hr>
<h1>{{site.data.i18n[page.lang].design}}</h1>

<ol class="clear">
{% for project in page.projects.design %}
  <li class="item design">
      <a href="{{project.link}}" class="design-link" style="background-image:url({{project.img}})">
      </a>
      <a href="{{project.link}}" class="design-over">
          <h4>{{project.name}}</h4>
          <p>{{project.date}}</p>
          <p>{{project.des}}</p>
      </a>
  </li>
{% endfor %}
</ol>
</div>